<div id="<%= dom_id item %>">
  <p>
    <strong>Creator:</strong>
    <%= item.creator %>
  </p>

  <p>
    <strong>Item name:</strong>
    <%= item.item_name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= item.quantity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= item.price %>
  </p>

</div>
