<div id="<%= dom_id item %>">
  <p>
    <strong>Creator:</strong>
    <%= item.creator %>
  </p>

  <p>
    <strong>Item name:</strong>
    <%= item.item_name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Item Type:</strong>
    <%= link_to item.item_type.name, item.item_type %>
  </p>
  
  <p>
    <strong>Location Made:</strong>
    <%= link_to item.location.name, item.location %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= item.quantity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= item.price %>
  </p>

</div>
