

  <div class="container"><br><br>
  <figure class="text-center">
    <h1>La Tienda Cubana</h1>
  </figure><br>
  <%= turbo_frame_tag "new_item" do %>
    <%= link_to "Add Item", 
               new_item_path,
               data: { turbo_frame: "item_frame"}, 
               class: "btn btn-primary"%> 
    <% end %> | 
      <%= turbo_frame_tag "new_item_type" do %>
    <%= link_to "Add Item Type", 
               new_item_type_path,
               data: { turbo_frame: "item_type_frame"}, 
               class: "btn btn-primary"%> 
    <% end %> |
    <%= turbo_frame_tag "new_location" do %>
    <%= link_to "Add Location", 
               new_location_path,
               data: { turbo_frame: "location_frame"}, 
               class: "btn btn-primary"%> 
    <% end %>  
  

    <%= turbo_frame_tag "item_frame" do %><% end %>
    <%= turbo_frame_tag "location_frame" do %><% end %>
    <%= turbo_frame_tag "item_type_frame" do %><% end %>



    
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Creator</th>
          <th scope="col">Item name</th>
          <th scope="col">Description</th>
          <th scope="col">Item Type</th>
          <th scope="col">Location</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
          <th scope="col">Action</th>

        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.creator %></td>
            <td><%= item.item_name %></td>
            <td><%= item.description %></td>
            <td><%= item.item_type.name%></td>
            <td><%= item.location.name%></td>
            <td><%= item.quantity%></td>
            <td><%= item.price%></td>
            <td><%= link_to "Edit", edit_item_path(item), class: 'btn btn-primary' %> | <%= button_to "Delete", item, method: :delete, class: 'btn btn-danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
