  
  <div class="container"><br><br>
    <%= turbo_frame_tag "new_location" do %>
    <%= link_to "Add Location", 
               new_location_path,
               data: { turbo_frame: "location_frame"}, 
               class: "btn btn-primary"%> 
    <% end %> | 

    <%= turbo_frame_tag "location_frame" do %><% end %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Creator</th>
          <th scope="col">Item name</th>
          <th scope="col">Description</th>
          <th scope="col">Item Type</th>
          <th scope="col">Location</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
          <th scope="col">Action</th>

        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.creator %></td>
            <td><%= item.item_name %></td>
            <td><%= item.description %></td>
            <td><%= item.item_type.name%></td>
            <td><%= item.location.name%></td>
            <td><%= item.quantity%></td>
            <td><%= item.price%></td>
            <td><%= link_to "View", item %>
          </tr>
        <% end %>
      </tbody>
    </table>
    
